---
import { ClientRouter } from "astro:transitions"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
import "@styles/fonts.css"
import "@styles/global.css"

interface Props {
  title: string
  description?: string
  ogImage?: string
  includeFooter?: boolean
  mainMenu?: boolean
}

const { currentLocale, props, site, url } = Astro

const {
  title,
  description,
  ogImage,
  includeFooter = true,
  mainMenu = true,
} = props

const canonicalUrl = new URL(url.pathname, site)
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalUrl.href} />
    <title>{title}</title>
    <meta property="og:locale" content={currentLocale} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalUrl.href} />
    <meta property="og:site_name" content={site} />
    {ogImage && <meta property="og:image" content={ogImage} />}
    <ClientRouter />
  </head>
  <body class="bg-background">
    <Header includeMainMenu={mainMenu} />
    <slot />
    {includeFooter && <Footer />}
  </body>
</html>
